<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel='stylesheet' href='/css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Kumar+One|Raleway" rel="stylesheet">
</head>
<body>
    <div id='frame'>
      <h2>URL Shortener Microservice</h2>
      <p>Enter a url to be shortened in the box and click 'Get URL' or press enter.
      Your shortened url will then appear below. Alternatively, type '/new/' at the end
      of the root address in the address bar followed by the url and press enter.</p>
      <input id='inputUrl' type='text' placeholder='type url to shorten here'>
      <button id='urlButton'>Get URL</button>
      <div id='link'></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="javascripts/shorten.js"></script>
</body>
</html>
